/* 배경 */
body{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 메인 */
#main {
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  background-color: transparent;
  text-align: center;
  width: 1000px;
  height: 810px; /*850px*/
}

/* 채팅 영역 */
#chat {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

/* 접속 알림 */
.connect {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-color: lemonchiffon;
  margin-top: 10px;
}

/* 상대방이 보낸 메시지 */
.other {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  margin-top: 10px;
}

/* 입력 창 */
input[type=text] {
  position: relative;
  border-radius: 10px;
  margin: auto;
  width: 80%;
  height: 70px;
  background-color: #FFF2CC;
  border-color: mediumturquoise;
  font-size: large;
  font-family: sans-serif;
  text-indent: 35%;
}

/* 버튼 */
button{
  width: 100px;
  height: 75px;
  border-radius: 10px;
  font-size: large;
  font-family: sans-serif;
}